@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-roboto-sans;
  }
}

.video-card {
  position: relative;
}

.video-card > a::before {
  content: '';
  cursor: pointer;
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}